<% layout('theme-02/layout') -%>  
  
  <!-- error page -->
<div calss="b-body">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container err-style">
            <div class="row justify-content-center m-5 p-5">
                <div class="col-md-12 text-center">
                    <h1>Oops!</h1>
                    <span class="display-1 d-block"><%=code%></span>
                    <div class="mb-4 lead"><%=message%></div>
                    <a href="/<%=storeId%>" class="btn btn-link">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>